$color-primary: #003366;          
$color-background: #E0E7EF;          
$color-text-primary: #FBFBFB; 
$color-text-secondary: #343434;    
$color-inactive: #C2D1E0;  
$font-family-title: "Poppins", sans-serif; 
$font-family-base: "Roboto", sans-serif; ;    

$font-size-base: 18px;                          
$font-size-heading: 24px;                      
$font-size-small: 14px;                          
$line-height-base: 27px;                         
$padding: 50px 290px;

$spacing-xs: 4px;        
$spacing-sm: 8px;         
$spacing-md: 34px;        
$spacing-lg: 50px;       
$spacing-xl: 80px;      

$container-width: 1340px;
$container-tablet-width: 1024px;
$container-mobile-width: 100%;   

$breakpoint-xs: 320px; 
$breakpoint-sm: 576px; 
$breakpoint-md: 768px; 
$breakpoint-lg: 992px;  
$breakpoint-xl: 1200px; 
$breakpoint-xxl: 1400px; 